.FooterBody{
    background-color: white;
    max-width: 970px;
    height: 100px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #A9ADB5;
}
.FooterBody>div:nth-child(1){
    max-width: 500px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.FooterBody>div>div>p{
    font-size: 11px;
    color: #A9ADB5;
}