.color{
    font-size: 8pt;
    font-weight: bold;
    color: #2c475c;
    position: relative;
    width: 92%;
    margin: auto;
    /* border:1px solid grey; */
}
.comment{
    background-color: #f4f4f5;
    /* border: 1px solid black; */
    font-size: 10pt;
    font-weight: 650;
    width: 95%;
   margin:6px 0px 0px 18px;
   padding: 8px;
   color:black;
   
}
.loading{
    background-color: #f4f4f5;
}
.inputbox{
    margin-top: 5px;
    width: 100%;
    /* border:1px solid red; */
}
.in{
   
    width: 79%;
    padding: 5px 0px 5px 0px;
   height: 10px;
}
.name{
    color:#0B6CC4;
    font-size: 10pt;
}
.flexall{
    display: flex;
}
.fixcolor{
    color:#0B6CC4;
    /* margin-left: 4px; */
    cursor: pointer;
}
.todos{
    background-color: white;
    margin-top: 15px;
    width: 97%;
    margin: auto;
    margin-left: 19px;
}
