.outerbox {
  /* border: 1px solid black; */
  height: 30vw;
}
.innerbox {
  /* border: 1px solid black; */
  width: 50%;
  margin-left: 150px;
  height: 100%;
  display: flex;
}
.sidebar {
  /* border: 1px solid black; */
  width: 178px;
}
.operations {
  /* border: 1px solid black; */
  width:400px;
  margin-left: 25px;
}
.sidebar > div a {
  text-decoration: none;
}
.sidebar>div {
  /* border: 1px solid black; */
  font-size: 11pt;
  color: #2c475c;
}
.flexbox{
    border: 1px solid red;
display: flex;
justify-content: space-between;
    width: 80px;
    margin-top: 7px;
}
.isactive{
  /* border:1px solid blue; */
  height: 21px;
}
.all{
  margin-top: 7px;
}
.icon{
 
    font-size: 20px;
    font-weight: 700;
    color: black,
  
}
.m{
  color:#0058c5
}